.IdeaListApp {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
  text-align: center;
  background-color: lightslategray;
}

.IdeaList {
  font-family: sans-serif;
  text-align: left;
  border-top: 1px solid #000000ff;
}

.Idea {
  padding: 3%;
  font-family: sans-serif;
  text-align: left;
}

.IdeaForm {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 16px;
  margin: 3%;
  padding: 2%;
  font-family: sans-serif;
  text-align: left;
  overflow: hidden;
  background: #ddddddff;
  border: 1px solid #00000000;
  border-radius: 3px;
}

label {
  grid-column: 1 / 2;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
  font-weight: bold;
}

.title, .content {
  grid-column: 2 / 4;
  padding: 5px;
}

.firstname {
  grid-column: 2 / 3;
  padding: 5px;
}

.lastname {
  grid-column: 3 / 4;
  padding: 5px;
}

.submit_button {
  grid-column: 3 / 4;
  padding: 5px;
  cursor: pointer;
}
